DB_URL_DEV=
DB_URL_TEST=
DB_URL_PROD=

REDIS_PASS=
REDIS_PORT=
REDIS_HOST=

JWT_SECRETE_KEY= 
JWT_SECRETE_REFRESH_KEY=
ACCESS_TOKEN_SECRET=
JWT_SECRET_KEY=PqolwbpZ8oyDMozD7taA2SbWDKe4rN9O
JWT_SECRETE_REFRESH_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

CLOUD_API_KEY=
CLOUD_NAME=
CLOUD_SECRET=
CLOUDINARY_URL=
